<div>

    <div fxLayout="row" fxLayoutAlign="start">
        <mat-form-field style="width: 200px; margin: 20px 20px 20px 40px;">
            <mat-label>Search</mat-label>
            <input matInput type="text" [(ngModel)]="search">
            <button mat-button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="30px" style="margin-left: 40px; margin-right: 40px;">
        <mat-card *ngFor="let game of filteredGames"
                  class="game-card">
            <div>
                <mat-card-title>{{ game.name }}</mat-card-title>
                <mat-card-subtitle fxLayout="row" fxLayoutAlign="space-between">
                    <span>{{ game.avgScore }}/10</span>
                    <span>{{ game.numberOfReviews }} reviews</span>
                </mat-card-subtitle>
            </div>
            <img mat-card-image src="{{ game.coverUrl }}" alt="No Image" />
            <mat-card-content style="height: 200px">
                <p>
                    {{ game.summary }}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="showDetails(game);">DETAILS</button>
                <button mat-button>REVIEW</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <mat-spinner fxLayout="row" fxLayoutAlign="center" *ngIf="isLoading"></mat-spinner>
</div>


