<div fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field style="width: 200px; margin: 20px 20px 20px 40px;">
        <mat-label>Search</mat-label>
        <input matInput type="text" [(ngModel)]="search">
        <button mat-button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <button mat-icon-button matSuffix (click)="filter()"><mat-icon>search</mat-icon></button>
</div>

<div fxLayout="row wrap" style="margin: 20px;">
    <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex="18%" *ngFor="let game of games">
        <mat-card style="margin: 20px">
            <div>
                <mat-card-title class="title">{{ game.name }}</mat-card-title>
                <mat-card-subtitle fxLayout="row" fxLayoutAlign="space-between">
                    <span>{{ game.numberOfReviews > 0 ? game.avgScore +'/10' : ''}}</span>
                    <span>{{ game.numberOfReviews }} reviews</span>
                </mat-card-subtitle>
            </div>
            <img mat-card-image src="{{ game.coverUrl }}" alt="No Image" />
            <mat-card-content>
                <div class="summary">
                    {{ game.summary }}
                </div>
            </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutAlign="space-between">
                <div fxLayout="row">
                    <button mat-button (click)="showDetails(game);">DETAILS</button>
                    <button mat-button (click)="showAdd(game)">REVIEW</button>
                </div>
                <button mat-icon-button (click)="toggleFavorite(game)"><mat-icon>{{ game.isFavorite ? 'star' : 'star_border' }}</mat-icon></button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="center" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>


