<div class="centered">
    <mat-form-field class="inline">
        <mat-label>UserName</mat-label>
        <mat-select [(ngModel)]="user">
            <mat-option *ngFor="let user of users"
                        [value]="user">
                {{ user.userName }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-button class="inline" (click)="createUser"><mat-icon>add</mat-icon></mat-button>

    <mat-button [disabled]="selectedUser === null" (click)="submit()">Enter</mat-button>
</div>
