<div class="centered">
    <div fxLayout="column" fxLayoutAlign="center center"
         class="title-container">
            <img src="assets/rotten-potato.png" />
            <div class=" title">Rotten Potatoes</div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center">
        <mat-form-field>
            <mat-label>User</mat-label>
            <mat-select [(ngModel)]="selectedUser">
                <mat-option *ngFor="let user of users"
                            [value]="user">
                    {{ user.userName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-icon-button (click)="createUser()"><mat-icon>add</mat-icon></button>
    </div>

    <div fxLayout="row" fxLayoutAlign="center">
        <button mat-button-primary [disabled]="!selectedUser" (click)="submit()">Enter</button>
    </div>
</div>
