<div class="centered">
    <div fxLayout="row">
        <mat-form-field>
            <mat-label>User</mat-label>
            <mat-select [(ngModel)]="selectedUser">
                <mat-option *ngFor="let user of users"
                            [value]="user">
                    {{ user.userName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-icon-button (click)="createUser()"><mat-icon>add</mat-icon></button>
    </div>

    <div fxLayout="row" fxLayoutAlign="center">
        <button mat-button-primary [disabled]="!selectedUser" (click)="submit()">Enter</button>
    </div>
</div>
